body {
    background-color: darkcyan;
}

div {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-evenly;
    font-family: Arial, Helvetica, sans-serif;
}

.button {
    background-color: lightblue;
    padding: 16px 32px;
}

.result {
    border: double 5px black;
    padding: 5px;
}

.score {
    font-weight: bold;
}

.winner {
    font-size: x-large;
}